.aside {
    grid-row: 1 / span 2;
    background-color: var(--violet-400);
    border-right: 1px solid var(--violet-300);
    height: 100vh;
    height: 100svh;
    position: absolute;
    width: 100%;
    transform: translateY(-1000%);
}

.logo {
    width: 1.95em;
}

.title {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.aside__presentation {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    align-items: center;
    gap: 0.25em;
    padding: 1em;
}

.aside[aria-hidden="false"] {
    transform: translateY(0);
}

.navbar {
    padding-right: 1.5em;
}

.navbar__title {
    font-size: 0.75em;
    letter-spacing: 0.1em;
    font-weight: 900;
    color: var(--dark-blue);
    text-transform: uppercase;
    padding: 0 1.7em 2em ;
}

.navbar__nav {
    display: grid;
}

.navbar__nav__item {
    font-weight: 700;
    color: var(--dark-blue);
    text-decoration: none;
    border-radius: 0 var(--br) var(--br) 0;
    transition: var(--transition);
    min-width: 200px;
    width: min-content;
    padding: 0.625em 1.25em;
}

.navbar__nav__item:hover:not(.active) {
    color: var(--white);
}

.navbar__nav__item.active {
    color: var(--white);
    background-color: var(--violet-100);
}

.navbar__button {
    text-align: left;
    font-weight: 700;
    color: var(--violet-200);
    border-radius: 0 var(--br) var(--br) 0;
    min-width: 200px;
    padding: 0.625em 1.25em;
}

.navbar__button:hover {
    color: var(--white);
    background-color: var(--violet-100);
}

@media screen and (min-width: 768px) {
    .aside {
        position: static;
        transform: translateY(0);
        width: 300px;
    }
}